.usersShow__wishPopup
  = form_with (model:@wish,local:true) do |f|
    .wishesPopup__addFrom
    .wishesPopup__formBtn
      = f.submit "はい",class:"wishesPopup__formBtn--ok"
      %button.wishesPopup__formBtn--ng
        いいえ
