= render "layouts/header"
.usersShow.wrapper
  .leftContent
    %h3 承認待ちの申請
    %br/
    = render partial:"wish",collection:@wishes
  .rightContent
    %h3 友達一覧
    %br/
    = render partial:"friend",collection:@friends