= render "layouts/header"
.usersShow.wrapper
  =link_to wishes_path do
    %h3 承認待ちの申請
  .contents
    .contents__left
      %h3 友達一覧
      %br/
      = render partial:"friend",collection:@friends
    .contents__right
      %h3 返却期限一覧
      = render partial:"borrowing",collection:@borrowBooks,as:"book"

