@font-face {
  font-family: 'mugen';
  src: font-url('rounded-mgenplus-1c-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin popup {
  display:none;
  background-color: #CCC9E7;
  height: 40vh;
  width: 50%;
  position: fixed;
  top: 20%;
  left :30%;
}

$header-color: #5C4742;
$back-color:#8D5B4C;
$base-font:#F7EBE8;
